@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
  background: linear-gradient(180deg, rgba(81,41,32,1) 10%, rgba(19,21,31,1) 100%);
  /* background-size: contain;
  background-repeat: no-repeat; */
  min-height: 100vh;
  height: fit-content;  
}
